* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.result {
    border-collapse: collapse;
}

.result, th, td {
    border: 1px solid black;
}

.result .title {
    color: white;
    background: rgb(44, 58, 71);
}
.result .tableele {
    background: white;
}

button {
    margin: 10px;
}
